body {
	font-family: arial, sans-serif;
	font-size: 16px;
}
.wrapper {
	width: 600px;
	height: 360px;
	position: absolute;
}

.button {
	width: 100px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	left: 50px;
	top: 50px;
	color: #FFF;
	text-decoration: none;
	background: linear-gradient(#1879BD 50%, #084D79 50%);
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
}
.button:hover {
	background: linear-gradient(#678834 50%, #093905 50%);
}
.button:active {
	background: linear-gradient(#EB7723 50%, #A80000 50%);
}

#canvas {
	position: absolute;
	top: 0; 
	left: 0; 
	border: 1px solid black; 
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

#game_field {
	position: absolute;
	border: 1px solid black; 
	z-index: 2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
} 